@import "tailwindcss";

#root{
 font-family: "inter", sans-serif;
 font-optical-sizing: auto;
 font-style: normal;
}

/* ...existing code... */
.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
/* ...existing code... */